/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* En-tête */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

/* Navigation */
.nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Formulaire */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Liste de tâches */
.task-list {
    list-style: none;
}

.task-list li {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-list h3 {
    font-size: 18px;
}

.task-list p {
    font-size: 14px;
}

/* Bouton de déconnexion */
.logout-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
